


 <!DOCTYPE html>
 <html lang="en">
   <head>
     <%- include('../partials/_head') %>
     <link rel="stylesheet" href="styles/signup.css" />
   </head>
   <body>
     <!-- <%- include('../partials/_navbar') %> -->
     <main>
        <% for(let i = 0; i < categories.length; i++) { %>
            <h2><%= categoryNames[i] %> </h2>
                <% for(let j = 0; j < categories[i].length; j++) { %>
                   <button type="button" class="btn btn-primary" data-bs-toggle="button" autocomplete="off"> <%= categories[i][j] %> </button>
            <% } %>
         <% } %>
     </main>
   </body>
 </html>
 