<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/_head') %>
  </head>
  <body>
    <main>
      <div class="heroImage">
        <img
          src="https://i.imgur.com/i3ctqpn.jpg"
          class="img-thumbnail"
          alt="..."
        />
      </div>
      <div class="container">


        <div class="titleContainer">
            <h2 class="loginTitle">Login to Road Buddy</h2>
        </div>
          <div class="formContainer">
            <form action="/login" method="POST">
              <% if (typeof error !== "undefined") { %>
              <p><%= error.message %></p>
              <% } %>
              <div class="form-control">
                <input type="text" name="username" required>
                <label for="">Email</label>
              </div>
    
              <div class="form-control">
                <input type="password" name="password" required>
                <label>Password</label>
              </div>
    
              <button class="btn">Login</button>
              <div class="accountLoginContainer">
                  <p class="text">Don't have an account? <a href="/signup">Register</a> </p> 
              </div>
            </form>
          </div>
      </div>


      </div>
    </main>
  </body>
</html>
