<nav>
    <div class="footerContainer">
        <div class="footerIconsContainer">
        <% if (typeof user !== "undefined") { %>
            <!-- <a href=""><i class="fas fa-phone-square-alt fa-2x"></i></a> -->
            <a href="/matches"><i class="fas fa-search fa-2x"></i></a>
            <a href="/"><i class="fas fa-truck fa-2x"></i></a>
            <!-- <i class="fas fa-comment-dots fa-2x"></i> -->
            <a href="/profile/<%= user.id %>"><i class="fas fa-user-astronaut fa-2x"></i></a>
            <a href="/logout"><i class="fas fa-sign-out-alt fa-2x"></i></a>
        <% } else { %> 
            <a href="/signup"><i class="fas fa-phone-square-alt fa-2x"></i></a>
            <a href="/login"><i class="fas fa-comment-dots fa-2x"></i></a>
        <% } %> 
        </div>
      </div>
</nav>
