<nav>
    <div> 
        <h1><a href="/">Road Buddy</a></h1>
    </div>
    <ul>
        <% if (typeof user !== "undefined") { %> 
            <li><a href="/profile/<%= user.id %>">My Profile</a></li>
            <li><a href="/matches">Find A Match</a></li>
            <li><a href="/logout">Logout</a></li>
        <% } else { %> 
            <li><a href="/signup">Signup</a></li>
            <li><a href="/login">Login</a></li>
        <% } %> 
    </ul>
</nav>
