<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/_head') %>
    <link rel="stylesheet" href="/styles/404.css"
</head>
<body>
    <section class="section">
        <h1>404 - Page not found</h1>
        <div class="tenor-gif-embed" data-postid="5607354" data-share-method="host" data-aspect-ratio="1.80791" data-width="100%"></div> 
        <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
        <p>Uh oh! Looks like the page you are looking for doesn't exist. Click the button below to return home.</p>
        <form action="/" method="GET" class="btn-container">
            <button type="submit" class="btn buttons">Return</button>
        </form>
    </section>
</body>
</html>