div label input {
  margin-right: 100px;
}

body {
  background-color: #001d22;
}

main {
  background-color: #001d22;
  color: white;
  font-family: "Roboto", sans-serif;
  display: grid;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 0;
}

.heroImage {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 120px;
  text-align: center;
  justify-content: center;
  margin: 50px 20px -48px 19px;
  align-items: center;
  padding: 5vw;
  color: #ffffff;
}

.appSuperDuperCatchySlogan {
  font-size: 28px;
  position: relative;
  bottom: 38px;
  left: 4px;
  font-family: "Roboto", sans-serif;
}

.titleContainer {
  border: 1px solid black;

  width: 100vw;
  display: grid;
  justify-content: center;
  align-items: center;
}

.interestTitle {
  font-size: 60px;
  margin: 40px 10px 10px 10px;
}

.interestSayin {
  font-size: 20px;
}

.interestTitleContainer {
  display: grid;
  justify-content: center;
}

.interestPrompt {
  display: grid;
  justify-content: center;
  width: 90%;
}

.interestTextContainer {
  display: grid;
  justify-content: center;
  text-align: center;
}

.selectTextContainer {
  display: grid;
  justify-content: center;
  margin: 50px 0px 30px 39px;
  border: 1px solid black;
  width: 83vw;
  border-radius: 10px;
  background-color: #f8ede4;
  color: black;
}

.categoryTitle {
  font-family: "Roboto", sans-serif;

  font-size: 36px;
}

.promptTitle {
  font-family: "Roboto";
  font-size: 30px;
  padding: 10px;
}

.promtText {
  font-family: "Roboto";

  font-size: 14px;
  padding: 4px 4px 10px 4px;
  margin-left: 35px;
}

.interestContainer {
  margin-left: 50px;
}

#interestSelect {
  display: flex;
  flex-wrap: wrap;
}

#interestTitle {
  margin: 10px;
}

#ck-button {
  margin: 8px;
  background-color: #144d53;
  border-radius: 100px;
  border: 1px solid #d0d0d0;
  width: auto;
}

#ck-button:hover {
  background: red;
}

#ck-button label {
  font-family: "Roboto";

  float: left;
  padding: 3px 10px;
  font-size: 0.8em;
}

#ck-button label span {
  text-align: center;
  padding: 3px 0px;
  display: block;
}

#ck-button label input {
  position: absolute;
  top: -20px;
}

#ck-button input:checked + span {
  background-color: #911;
  border-radius: 10px;
  color: #fff;
}
