div label input {
  margin-right: 100px;
}

body {
  font-family: sans-serif;
}

.titleContainer {
  border: 1px solid black;

  width: 100vw;
  display: grid;
  justify-content: center;
  align-items: center;
}

.interestTitle {
  font-size: 60px;
  margin: 40px 10px 10px 10px;
}

.interestSayin {
  font-size: 20px;
}

.interestTitleContainer {
  display: grid;
  justify-content: center;
}

.interestPrompt {
  display: grid;
  justify-content: center;
}

.interestTextContainer {
  display: grid;
  justify-content: center;
  text-align: center;
}

.selectTextContainer {
  display: grid;
  justify-content: center;
  margin: 50px 0px 30px 55px;
  border: 1px solid black;
  width: 70vw;
  border-radius: 10px;
}

.categoryTitle {
  font-size: 36px;
}

.promptTitle {
  font-size: 20px;
  padding: 10px;
}

.promtText {
  font-size: 12px;
  padding: 4px;
}

.interestContainer {
  margin-left: 50px;
}

#interestSelect {
  display: flex;
  flex-wrap: wrap;
}

#interestTitle {
  margin: 10px;
}

#ck-button {
  margin: 8px;
  background-color: #efefef;
  border-radius: 10px;
  border: 1px solid #d0d0d0;
  width: auto;
}

#ck-button:hover {
  background: red;
}

#ck-button label {
  float: left;
  padding: 3px 10px;
  font-size: 0.8em;
}

#ck-button label span {
  text-align: center;
  padding: 3px 0px;
  display: block;
}

#ck-button label input {
  position: absolute;
  top: -20px;
}

#ck-button input:checked + span {
  background-color: #911;
  border-radius: 10px;
  color: #fff;
}
