
#portrait{
    /* background-color: #021D22 ; */
}

.match-section{
    display: grid;
    place-items: center;
    position: absolute;
    padding-bottom: 100px;
    /* position: absolute; */
    width: 326px;
    height: 610px;
    left: 51px;
    top: 148px;
    background-color: #f8ede4;
}



.avatar-image{
    height: 200px;
    width: 300px;
}

button{ 
    background-color: #FB6959;
    color: #0E1504;
}


.interest{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 12px; 
    margin: 10px;
    color: #ffffff;
    background-color: #FB6959;
    border: solid transparent 1px;
    border-radius: 10px;
}

.match-button{
    border-radius: 15px;
}

.done-button{
    /* display: flex;
    justify-content: center; */
    padding: 10px 50px;
    margin-left: 40px;
    border-radius: 5px;


}