main {
  background-color: #001d22;
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: scroll;
  margin: 0;
}

.errorMessage {
  color: #ff6958;
  font-size: 16px;
  text-align: center;
}

placeholder {
  padding-top: 10px;
}

#signupForm {
  border: none;
  background-color: #001d22;
}

.heroImage {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 120px;
  text-align: center;
  justify-content: center;
  margin: 50px 20px 18px 19px;
  align-items: center;
  padding: 5vw;
  color: #ffffff;
}

.appSuperDuperCatchySlogan {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  position: relative;
  bottom: 38px;
  left: 4px;
}

.signupImageContainer {
  display: grid;
  justify-content: center;
  margin-top: 5vh;
}

.signupimage {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 30vh;
}

.accountFormContainer {
  margin: 0px 20px 20px 20px;
  padding: 10px;
  background-color: #001d22;
}

.formInput {
  width: 80vw;
  height: 6vh;
  margin-top: 35px;
  color: black;
  padding-left: 15px;
  border-radius: 5px;
}

.createAccountButton {
  margin: 20px;
  height: 50px;
  width: 130px;
  border-radius: 5px;
  background-color: #ff6958;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.createAccountButton {
  margin: 81px 20px -100px 181px;
  height: 50px;
  width: 130px;
  border-radius: 5px;
  background-color: #ff6958;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  bottom: 38px;
  left: 4px;
}
.backButton {
  margin: 43px 20px 20px 10px;
  height: 50px;
  width: 130px;
  border-radius: 5px;
  background-color: #ff6958;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  bottom: 36px;
  left: 4px;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
}
